<p class="complete"><%= notice %></p>

<body>
    <div class="show">
        <label class="show-field">Title:</label>
        <%= @book.title %>
    </div>
    <div class="show">
        <label class="show-field">Body:</label>
        <%= @book.body %>
    </div>

    <div>
        <%= link_to "Edit", edit_book_path(@book.id) %>
        |
        <%= link_to "Back", booker_path %>
    </div>
</body>